@use "./../../../scss/color" as c;

.todoListController {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.125em;
  padding: 15px 80px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 1em;
  box-shadow: 0 0 10px c.$bg-form-dark-text;

  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  button {
    border: none;
    background-color: transparent;
    font-size: 0.875rem;
    font-weight: 700;
    color: c.$light-gray;
    font-family: inherit;
    cursor: pointer;
    transition: color 0.3s ease;

    &:not(.active):hover {
      color: c.$black-1;
    }
  }

  .active {
    color: c.$active;
  }

  // media query
  @media (min-width: 768px) {
    // removing padding and margin (when min-width is 768px the component is rendered inside TodoList controller so removing padding otherwise component style breaks.
    padding: 0 80px;
    margin-top: 0;
    box-shadow: none;
  }
}

// dark mode theme
.dark {
  background-color: c.$bg-form-dark;
  box-shadow: none;

  button:not(.active):hover {
    color: c.$bg-form-dark-text;
  }
}
