@use "./../../../scss/color" as c;

.todoForm {
  width: 100%;
  height: 3em;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  gap: 0.75em;

  padding: 0.875em 1.25em;
  margin-bottom: 1em;
  box-shadow: 0 0 10px c.$bg-form-dark-text;
  transition: height 0.3s ease, gap 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;
}

.submit_btn {
  width: 20px;
  height: 20px;
  background: none;
  border-radius: 50%;
  border: 1px solid c.$very-light-gary;
  cursor: pointer;
  transition: width 0.3s ease, height 0.3s ease;
  transition: border-color 0.3s ease;

  &:hover {
    border-color: c.$bg-form-dark;
  }
}

.todo_input_field {
  height: 100%;
  width: 90%;
  border: none;
  font-family: inherit;
  font-size: 12px;
  transition: font-size 0.3s ease;
  caret-color: c.$active;
  background-color: inherit;

  &:focus {
    outline: none;
    outline-color: transparent;
  }

  &::placeholder {
    color: c.$light-gray;
  }
}

// Media Query - Desktop / Tablet view
@media (min-width: 768px) {
  .todoForm {
    height: 4em;
    gap: 1.5em;
    margin-bottom: 1.5rem;
  }

  .submit_btn {
    height: 24px;
    width: 24px;
  }

  .todo_input_field {
    font-size: 16px;
  }
}

// dark theme styles
.todoForm_dark {
  background-color: c.$bg-form-dark;
  box-shadow: none;

  .todo_input_field {
    color: c.$bg-form-dark-text;
  }

  .submit_btn:hover {
    border-color: c.$bg-form-dark-text;
  }
}
