@use "./../../scss/helper" as helper;

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include helper.min-max-width();

  @include helper.padding-left-right(1.5em);
  margin-top: 3em;
  margin-bottom: 2.5em;

  .header_icon {
    width: 20px;
    height: 20px;
    transition: width 0.3s ease, height 0.3s ease;
  }

  h1 {
    color: #fff;
    letter-spacing: 10px;
    font-size: 1.25em;
    transition: font-size 0.3s ease;
  }

  // Media Query
  @media (min-width: 768px) {
    margin-top: 4.375em;
    @include helper.padding-left-right(0);
    // Resizing font-size

    h1 {
      font-size: 2.5rem;
    }

    // Resizing header icon
    .header_icon {
      width: 26px;
      height: 26px;
    }
  }
}
