@use "./../../../../scss/color" as c;

.todoList_item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 3.25em;
  padding: 1em 1.25em;

  cursor: pointer;

  .cross_icon {
    width: 12px;
    height: 12px;
  }

  // media query for Desktop/Tablet view
  @media (min-width: 768px) {
    padding: 1.25em 1.5em;
    height: 4em;

    .cross_icon {
      width: 18px;
      height: 18px;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    // hover effect
    &:hover {
      .cross_icon {
        opacity: 1;
      }
    }
  }
}

.todoAndBtnContainer {
  display: flex;
  align-items: center;
  gap: 12px;

  font-size: 0.75rem;

  .submit_btn {
    width: 20px;
    height: 20px;
    background: none;
    border-radius: 50%;
    border: 1px solid c.$very-light-gary;
    cursor: pointer;
    transition: border-color 0.3s ease;

    &:hover {
      border-color: black;
    }
  }

  .completed_btn {
    background: linear-gradient(120deg, #55ddff, #c058f3);
    border: none;

    .checkIcon {
      opacity: 1;
    }
  }

  p {
    color: c.$black-1;
  }

  .completed_text {
    text-decoration: line-through;
    color: c.$gray-2;
  }

  // Media Desktop/Tablet view
  @media (min-width: 768px) {
    gap: 24px;

    .submit_btn {
      width: 24px;
      height: 24px;
    }

    p {
      font-size: 1.125rem;
    }
  }
}

.line {
  background-color: c.$gray-1;
  width: 100%;
  height: 1px;
  border: none;
  transition: background-color 0.3s ease;
}

// check icon - when check icon is active change it to opacity: 1
.checkIcon {
  opacity: 0;
  transition: opacity 0.3s ease;
}

// dark theme
.todoList_item__dark {
  p {
    color: c.$bg-form-dark-text;
  }

  .submit_btn:hover {
    border-color: #fff;
  }
}

.line__dark {
  background-color: c.$bg-form-dark-line;
}
