@use "./../../../../scss/color" as c;

.todoList_item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 3.25em;

  margin: 1em 1.25em;
}

.todoBtnContainer {
  display: flex;
  align-items: center;
  gap: 12px;

  font-size: 0.75rem;

  .submit_btn {
    width: 20px;
    height: 20px;
    background: none;
    border-radius: 50%;
    border: 1px solid c.$very-light-gary;
    cursor: pointer;
  }
}
