.app {
  width: 100vw;
  height: 100vh;
}

.background__light {
  position: absolute;
  top: 0;
  z-index: -1;
  background-image: url("./assets/images/bg-desktop-light.jpg");
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 200px;
  transition: height 0.3s ease;

  @media (min-width: 765px) {
    height: 250px;
  }

  @media (min-width: 1200px) {
    height: 300px;
  }
}
