@use "./../../../../scss/color" as c;

.todoListStatus {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.34em 1.67em;
  color: c.$light-gray;
  font-size: 0.75rem;

  button {
    border: none;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
  }
}
