@use "./../../../../scss/color" as c;

.todoListStatus {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.34em 1.67em;
  color: c.$light-gray;
  font-size: 0.75rem;

  background-color: inherit;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  button {
    border: none;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: c.$black-1;
    }
  }

  @media (min-width: 768px) {
    font-size: 0.875rem;

    & > * {
      flex-shrink: 0;
    }
  }
}

// dark theme
.dark {
  button:hover {
    color: c.$bg-form-dark-text;
  }
}
