$light-gray: #9495a5;
$very-light-gary: #979797;

$gray-1: #e3e4f1;
$gray-2: #d1d2da;
$gray-3: #4d5067;
$black-1: #494c6b;

$active: #3a7cfd;

$bg-light: #fafafa;
$bg-dark: #171823;

// Dark Mode Form
$bg-form-dark: #25273d;
$bg-form-dark-text: #c8cbe7;
$bg-form-dark-line: #393a4b;
